---
import Layout from "@layouts/Layout.astro";
import type { Page } from "astro";
import { getArticles } from "@utils/article";
import BreadcrumbHeader from "@components/BreadcrumbHeader.astro";
import Pagniation from "@components/Pagniation.astro";
import ArticleCard from "@components/ArticleCard.astro";
import { getSite } from "@utils/site";

interface Props {
  page: Page;
}

export async function getStaticPaths({ paginate }: any) {
  const entries = await getArticles();
  const siteEntry = await getSite();
  const limit = siteEntry.data.displayLimit;

  return paginate(entries, { pageSize: limit });
}

const { page } = Astro.props;
---

<Layout title="Articles">
  <BreadcrumbHeader
    head={{ name: "Archive", path: "/article" }}
    class:list={["mb-4"]}
    tail={page.currentPage.toString()}
  />
  <div class:list={["mt-4 grid grid-cols-1 gap-6 lg:grid-cols-2"]}>
    {page.data.map((entry) => <ArticleCard article={entry} />)}
  </div>
  <Pagniation page={page} class:list={["mt-4"]} />
</Layout>
