---
import Layout from "@layouts/Layout.astro";
import BreadcrumbHeader from "@components/BreadcrumbHeader.astro";
import InternalLink from "@components/InternalLink.astro";
import { getCategories } from "src/utils";
import slugify from "@sindresorhus/slugify";

const categories = await getCategories();
---

<Layout title="Categories">
  <BreadcrumbHeader head={{ name: "Categories", path: "/category" }} class:list={["mb-4"]} />
  <ol>
    {
      categories.map((category) => (
        <li>
          <InternalLink class:list={["capitalize"]} to={`/category/${slugify(category)}`}>
            {category}
          </InternalLink>
        </li>
      ))
    }
  </ol>
</Layout>
