---
import { Image } from "astro:assets"
import Layout from "@layouts/Layout.astro"
import { getCollection } from "astro:content"
import BreadcrumbHeader from "@components/BreadcrumbHeader.astro"
import slugify from "@sindresorhus/slugify"
import LinkInternal from "@components/LinkInternal.astro"

const entries = await getCollection("author")
---

<Layout title="Authors">
  <BreadcrumbHeader head={{ name: "Authors", path: "/author" }} class:list={["mb-4"]} />
  <ol>
    {
      entries.map((entry) => (
        <li>
          <LinkInternal class:list={["capitalize"]} to={`/author/${slugify(entry.id)}`}>
            <Image src={entry.data.avatar} alt={entry.data.name}>
              {entry.data.name}
            </Image>
          </LinkInternal>
        </li>
      ))
    }
  </ol>
</Layout>
