---
import { Image } from "astro:assets";
import Layout from "@layouts/Layout.astro";
import { getCollection } from "astro:content";
import BreadcrumbHeader from "@components/BreadcrumbHeader.astro";
import slugify from "@sindresorhus/slugify";
import InternalLink from "@components/InternalLink.astro";

const authorEntries = await getCollection("author");
---

<Layout title="Authors">
  <BreadcrumbHeader head={{ name: "Authors", path: "/author" }} class:list={["mb-4"]} />
  <ol>
    {
      authorEntries.map((entry) => (
        <li>
          <InternalLink class:list={["capitalize"]} to={`/author/${slugify(entry.id)}`}>
            <Image src={entry.data.avatar} alt={entry.data.name}>
              {entry.data.name}
            </Image>
          </InternalLink>
        </li>
      ))
    }
  </ol>
</Layout>
