@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --color-primary-light: 98 114 123;
    --color-primary-main: 55 71 79;
    --color-primary-dark: 16 32 39;
    --color-primary-contrast: 255 255 255;
    --color-secondary-light: 190 246 122;
    --color-secondary-main: 139 195 74;
    --color-secondary-dark: 90 146 22;
    --color-secondary-contrast: 46 46 46;
  }
}

html {
  /* show scrollbar to prevent page jump */
  overflow-y: scroll;
  min-height: 100vh;
}

/* flex the page so footer is at the bottom */
body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

main {
  flex-grow: 1;
}

/* fade animations */
.fade-in {
  opacity: 1;
  transition: opacity 0.75s;
}

.fade-out {
  opacity: 0;
  transition: opacity 0.75s;
}