@import 'tailwindcss';
@custom-variant dark (&:where(.dark, .dark *));

@plugin '@tailwindcss/typography';

@theme {
  --color-primary-light: rgb(98, 114, 123);
  --color-primary-main: rgb(55, 71, 79);
  --color-primary-dark: rgb(16, 32, 39);
  --color-primary-contrast: rgb(255, 255, 255);

  --color-secondary-light: rgb(190, 246, 122);
  --color-secondary-main: rgb(139, 195, 74);
  --color-secondary-dark: rgb(90, 146, 22);
  --color-secondary-contrast: rgb(46, 46, 46);

  --color-card-light: rgb(255, 255, 255);
  --color-card-main: rgb(245, 245, 244);
  --color-card-dark: rgb(231, 229, 228);
  --color-card-contrast: rgb(55, 71, 79);

  --color-border-light: rgb(214, 211, 209);
  --color-border-main: rgb(120, 113, 108);
  --color-border-contrast: rgb(98, 114, 123);

  --color-fg-light: rgb(28, 25, 23);
  --color-fg-main: rgb(87, 83, 78);
  --color-fg-dark: rgb(68, 64, 60);
  --color-fg-contrast: rgb(245, 245, 244);
  --color-fg-contrast-muted: rgb(214, 211, 209);

  --color-link-light: rgb(55, 71, 79);
  --color-link-main: rgb(90, 146, 22);
  --color-link-dark: rgb(90, 146, 22);
  --color-link-contrast: rgb(139, 195, 74);

  --color-icon-main: rgb(55, 71, 79);
  --color-icon-muted: rgb(120, 113, 108);
  --color-icon-contrast: rgb(255, 255, 255);
  --color-icon-contrast-muted: rgb(255, 255, 255, 0.7);

  --breakpoint-xs: 420px;

  --aspect-ultrawide: 21 / 9;
}

@theme inline {
  --font-mono:
    var(--font-fira-code), ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, 'Liberation Mono',
    'Courier New', monospace;
  --font-serif:
    var(--font-noto-serif-georgian), ui-serif, Georgia, Cambria, 'Times New Roman', Times, serif;
  --font-sans:
    var(--font-noto-sans-georgian), ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji',
    'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
  --font-chalk:
    var(--font-walter-turncoat), ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji',
    'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
}

/*
  The default border color has changed to `currentColor` in Tailwind CSS v4,
  so we've added these compatibility styles to make sure everything still
  looks the same as it did with Tailwind CSS v3.

  If we ever want to remove these styles, we need to add an explicit border
  color utility to any element that depends on these defaults.
*/
@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-gray-200, currentColor);
  }

  .dark {
    --color-card-light: rgb(55, 71, 79, 0.35);
    --color-card-main: rgb(55, 71, 79, 0.55);
    --color-card-dark: rgb(55, 71, 79, 0.7);

    --color-border-light: rgb(98, 114, 123, 0.35);
    --color-border-main: rgb(98, 114, 123, 0.7);

    --color-fg-light: rgb(245, 245, 244);
    --color-fg-main: rgb(214, 211, 209);
    --color-fg-dark: rgb(231, 229, 228);

    --color-link-light: rgb(190, 246, 122);
    --color-link-main: rgb(139, 195, 74);
    --color-link-dark: rgb(190, 246, 122);

    --color-icon-main: rgb(255, 255, 255);
    --color-icon-muted: rgb(255, 255, 255, 0.7);
  }
}

html {
  /* prevent page jump */
  scrollbar-gutter: stable;
  min-height: 100vh;
}

/* flex the page so footer is at the bottom */
body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

main {
  flex-grow: 1;
}

/* Wrap long lines in code blocks */
.astro-code {
  white-space: pre-wrap;
  word-break: break-word;
}

/* fade animations */
.fade-in {
  opacity: 1;
  transition: opacity 0.75s;
}

.fade-out {
  opacity: 0;
  transition: opacity 0.75s;
}
