---
import InternalBackLink from "@components/InternalBackLink.astro";
import InternalLink from "@components/InternalLink.astro";
import Layout from "@layouts/Layout.astro";
import { getArticles } from "@utils/article";

// get the articles and sort them in decending published date
const entries = await getArticles(9);
const lead = entries.shift();
---

<Layout title="Welcome to Astro.">
  <h1 class:list={["font-extrabold"]}>
    {
      lead != null ? (
        <InternalLink to={`/article/${lead.slug}`}>{lead.data.title}</InternalLink>
      ) : null
    }
  </h1>
  <hr />
  <ol>
    {
      entries.map((entry) => (
        <li>
          <InternalLink to={`/article/${entry.slug}`}>{entry.data.title}</InternalLink>
        </li>
      ))
    }
  </ol>
  <InternalBackLink name="articles" path="/article" class:list={["mt-4"]} />
</Layout>
