---
/**
 * @name ArticleGrid
 * Component used for rendering the grid of cards for articles.
 *
 * @param {Props} props - The properties of the grid.
 * @return {Function} an Astro component factory function.
 *
 * @example
 * <ArticleGrid articles={articles} />
 */
import ArticleCard from "@components/ArticleCard.astro"
import type { CollectionEntry } from "astro:content"

interface Props {
  articles: CollectionEntry<"article">[]
  foldCount?: number
  class?: string
}

const { articles, foldCount = 10, class: className } = Astro.props
---

<ol class:list={["grid grid-cols-1 gap-6", "lg:grid-cols-2", className]}>
  {
    articles.map((article, index) => (
      <li>
        <ArticleCard article={article} lazy={index >= foldCount} />
      </li>
    ))
  }
</ol>
