---
/**
 * @name PageFooter
 * The component used to render the page footer.

 * @param {Props} props - The properties of the page footer.
 * @return {Function} an Astro component factory function.
 *
 * @example
 * <PageFooter />
 */
import { getSite } from "@utils/site";

interface Props {
  class?: string;
}

const { class: className } = Astro.props;
const entry = await getSite();
const site = entry.data;
const year = new Date().getFullYear();
---

<footer class:list={["container mx-auto grid-rows-3 p-4 xl:max-w-screen-xl", className]}>
  <div></div>
  <div class:list={["text-center text-xs"]}>&copy; {year} {site.title}</div>
  <div></div>
</footer>
